<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation=	
		"http://www.springframework.org/schema/aop 
    		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
    		http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    		http://www.springframework.org/schema/context 
    		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
    		http://www.springframework.org/schema/jee 
    		http://www.springframework.org/schema/jee/spring-jee-3.2.xsd 
    		http://www.springframework.org/schema/tx 
    		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
    		http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util.xsd
    		http://www.springframework.org/schema/task 
    		http://www.springframework.org/schema/task/spring-task-3.2.xsd
    		http://www.springframework.org/schema/mvc
    		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    		http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.2.xsd">	
	
	<security:http auto-config="true" use-expressions="true" entry-point-ref="casEntryPoint">
		<security:custom-filter position="CAS_FILTER" ref="casFilter" />
		<security:custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER"/>

		<security:logout logout-url="/logout" logout-success-url="/login" delete-cookies="JSESSIONID" />
		
		<security:access-denied-handler ref="customAccessDeniedHandler" />
		<security:intercept-url pattern="/home" access="hasRole('ROLE_USER')" requires-channel="https"/>
		<security:intercept-url pattern="/**" requires-channel="https"/> 
		
	</security:http>
	
	<!-- This filter handles a Single Logout Request from the CAS Server -->
	<bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>
	
	<!-- This filter redirects to the CAS Server to signal Single Logout should be performed -->
	<bean id="requestSingleLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg value="https://localhost:8443/cas/logout"/>
		<constructor-arg>
			<bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/j_spring_cas_security_logout"/>
	</bean>
	
	<bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
	    <property name="service" value="https://localhost:8443/springSecurityWithDB/j_spring_cas_security_check"/>
	    <property name="sendRenew" value="false"/>
	</bean>
	
	<bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
	</bean>

	<bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
	    <property name="loginUrl" value="https://localhost:8443/cas/login"/>
	    <property name="serviceProperties" ref="serviceProperties"/>
	</bean>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="casAuthenticationProvider" />
	</security:authentication-manager>

	<bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
	    <property name="authenticationUserDetailsService">
	      <bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
	        <constructor-arg ref="authService" />
	      </bean>
	    </property>
	    <property name="serviceProperties" ref="serviceProperties" />
	    <property name="ticketValidator">
	      <bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
	        <constructor-arg index="0" value="https://localhost:8443/cas" />
	      </bean>
	    </property>
	    <property name="key" value="an_id_for_this_auth_provider_only"/>
	</bean>
	
	<bean id="customAccessDeniedHandler" class="com.soni.security.CustomAccessDeniedHandler"/>
	<bean id="customAuthenticationFailureHandler" class="com.soni.security.CustomAuthenticationFailureHandler"/> 
		
</beans>